VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=[plugin:vite:import-analysis] Failed to resolve import "../lib/firebase" from "src/hooks/useHabits.js". Does the file exist?
D:/habit-tracker/src/hooks/useHabits.js:2:25
1  |  // src/hooks/useHabits.js
2  |  import { db, auth } from "../lib/firebase";
   |                            ^
3  |  import { collection, doc, setDoc, addDoc, onSnapshot, query, orderBy, serverTimestamp } from "firebase/firestore";
4  |  import { useState, useEffect } from "react";
    at TransformPluginContext._formatLog (file:///D:/habit-tracker/node_modules/vite/dist/node/chunks/node.js:30488:39)
    at TransformPluginContext.error (file:///D:/habit-tracker/node_modules/vite/dist/node/chunks/node.js:30485:14)
    at normalizeUrl (file:///D:/habit-tracker/node_modules/vite/dist/node/chunks/node.js:27728:18)
    at async file:///D:/habit-tracker/node_modules/vite/dist/node/chunks/node.js:27791:30
    at async Promise.all (index 0)
    at async TransformPluginContext.transform (file:///D:/habit-tracker/node_modules/vite/dist/node/chunks/node.js:27759:4)
    at async EnvironmentPluginContainer.transform (file:///D:/habit-tracker/node_modules/vite/dist/node/chunks/node.js:30273:14)
    at async loadAndTransform (file:///D:/habit-tracker/node_modules/vite/dist/node/chunks/node.js:24532:26)
Click outside, press Esc key, or fix the code to dismiss.
You can also disable this overlay by setting server.hmr.overlay to false in vite.config.js.